@model WardrobeApplication.Models.Closet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Closet</h4>
    <hr />
    <dl class="dl-horizontal">
        
        <p><h5>@Html.DisplayNameFor(model => model.Name)</h5>@Html.DisplayFor(model => model.Name)</p>
        
        <p><h5>@Html.DisplayNameFor(model => model.Photo)</h5>@Html.DisplayFor(model => model.Photo)</p>

        <p><h5>@Html.DisplayNameFor(model => model.Color)</h5>@Html.DisplayFor(model => model.Color)</p>
      
        <p><h5>@Html.DisplayNameFor(model => model.Season)</h5>@Html.DisplayFor(model => model.Season)</p>

        <p><h5>@Html.DisplayNameFor(model => model.Occasion)</h5>@Html.DisplayFor(model => model.Occasion)</p>

        <p><h5>@Html.DisplayNameFor(model => model.ClothingType.ClothingTypeName)</h5>@Html.DisplayFor(model => model.ClothingType.ClothingTypeName)</p>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClothingID }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Back to List", "Index", new { id = Model.ClothingID }, new { @class = "btn btn-warning"})
</p>
