@model WardrobeApplication.Models.Closet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Closet Item</h4>
    <hr />
        
        <p><h5>@Html.DisplayNameFor(model => model.Name)</h5>@Html.DisplayFor(model => model.Name)</p>

        <img src="@Url.Content("~/Content/" + Model.Photo)"/>

        <p><h5>@Html.DisplayNameFor(model => model.Color)</h5>@Html.DisplayFor(model => model.Color)</p>
      
        <p><h5>@Html.DisplayNameFor(model => model.Season)</h5>@Html.DisplayFor(model => model.Season)</p>

        <p><h5>@Html.DisplayNameFor(model => model.Occasion)</h5>@Html.DisplayFor(model => model.Occasion)</p>

        

</div>
<p>                     <!--Added bootstrap buttons-->
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClothingID }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Back to List", "Index", new { id = Model.ClothingID }, new { @class = "btn btn-warning"})
</p>
