@model IEnumerable<WardrobeApplication.Models.Closet>

@{
    ViewBag.Title = "Closet Home";
}

<h2>Welcome to your Closet</h2>

<p>
    <!--Create new item on it's own line-->
    @Html.ActionLink("Add New Item", "Create")
</p>

<div class="row">

    @foreach (var item in Model)
    {

        <div class="col-sm-4 col-md-4 col-lg-4">

            <div class="thumbnail">
                <!--Showing the properties of each item in thumbnails-->
                <div class="caption">

                    <p><h4>@Html.DisplayFor(modelItem => item.ClothingType.ClothingTypeName)</h4></p>

                    <p><h5>@Html.DisplayNameFor(model => model.Name)</h5>@Html.DisplayFor(modelItem => item.Name)</p>

                    <p><h5>@Html.DisplayNameFor(model => model.Photo)</h5>@Html.DisplayFor(modelItem => item.Photo)</p>

                    <p><h5>@Html.DisplayNameFor(model => model.Color)</h5>@Html.DisplayFor(modelItem => item.Color)</p>

                    <p><h5>@Html.DisplayNameFor(model => model.Season)</h5>@Html.DisplayFor(modelItem => item.Season)</p>

                    <p><h5>@Html.DisplayNameFor(model => model.Occasion)</h5>@Html.DisplayFor(modelItem => item.Occasion)</p>


                    <p>
                        <!--Buttons for these items all on the same line-->
                        @Html.ActionLink("Edit", "Edit", new { id = item.ClothingID }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Details", "Details", new { id = item.ClothingID }, new { @class = "btn btn-warning" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.ClothingID }, new { @class = "btn btn-danger" })
                    </p>

                </div>

            </div>

        </div>

    }


</div>



