@model IEnumerable<WardrobeApplication.Models.Closet>

@{
    ViewBag.Title = "Closet Home";
}

<h2>Closet</h2>

<p>
    @Html.ActionLink("Add New Item", "Create")
</p>



@*@Html.DisplayNameFor(model => model.Name)


    @Html.DisplayNameFor(model => model.Photo)


    @Html.DisplayNameFor(model => model.Color)


    @Html.DisplayNameFor(model => model.Season)


    @Html.DisplayNameFor(model => model.Occasion)


    @Html.DisplayNameFor(model => model.ClothingType.ClothingTypeName)*@


<div class="row">

    @foreach (var item in Model)
    {

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">

                    @Html.DisplayFor(modelItem => item.Name)

                    @Html.DisplayFor(modelItem => item.Photo)

                    @Html.DisplayFor(modelItem => item.Color)

                    @Html.DisplayFor(modelItem => item.Season)

                    @Html.DisplayFor(modelItem => item.Occasion)

                    @Html.DisplayFor(modelItem => item.ClothingType.ClothingTypeName)

                    @Html.ActionLink("Edit", "Edit", new { id = item.ClothingID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ClothingID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ClothingID })
                </div>
            </div>
        </div>
    }

</div>

