@model IEnumerable<WardrobeApplication.Models.ClothingType>

@{
    ViewBag.Title = "Index";
}

<h2>Categories</h2>

<p><span class="Road">The Road to a Better Wardrobe Starts Here</span><span class="glyphicon glyphicon-road"></span>


<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
{

    <div class="col-sm-4 col-md-4 col-lg-4">

        <div class="thumbnail" id="typeIndexThumbs">
            <!--Each clothing type displays in a thumbnail-->
            <div class="caption">

                <p><h4>@Html.DisplayFor(modelItem => item.ClothingTypeName)</h4></p>


                @Html.ActionLink("Edit", "Edit", new { id = item.ClothingTypeID }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Details", "Details", new { id = item.ClothingTypeID }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Delete", "Delete", new { id = item.ClothingTypeID }, new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>


}


@*@Html.DisplayNameFor(model => model.ClothingTypeName)*@
